@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional default font */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body { 
  margin: 0; 
}

.splash-bg {
  background: #217346;
  background: linear-gradient(
    120deg,
    rgba(33, 115, 70, 1) 0%,
    rgba(46, 142, 90, 1) 30%,
    rgba(73, 196, 130, 1) 50%,
    rgba(49, 148, 94, 1) 70%,
    rgba(33, 115, 70, 1) 100%
  );
}